<button mat-raised-button class="addPerson mat-typography" (click)="addPerson()">Add Person</button>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Person">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="choose">
          <mat-header-cell mat-header-cell *matHeaderCellDef>   </mat-header-cell>
          <mat-cell *matCellDef="let Person">
              <button mat-icon-button (click)="editPerson(Person)" color="white"><mat-icon><i class="fa fa-edit"></i></mat-icon></button>
              <button mat-icon-button (click)="deletePerson(Person)" color="white"> <mat-icon><i class="fa fa-trash"></i></mat-icon></button>
          </mat-cell>
      </ng-container>

    <ng-container matColumnDef="personID">
      <th mat-header-cell *matHeaderCellDef> Person ID </th>
      <td mat-cell *matCellDef="let Person"> {{Person.personID}} </td>
    </ng-container>

    <ng-container matColumnDef="personName">
      <th mat-header-cell *matHeaderCellDef> Person Name </th>
      <td mat-cell *matCellDef="let Person"> {{ Person.firstName + " " + Person.middleName + " " + Person.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let Person"> {{Person.age}} </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef> Birthday </th>
      <td mat-cell *matCellDef="let Person"> {{Person.birthday}} </td>
    </ng-container>

    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Photo </th>
      <td mat-cell *matCellDef="let Person"> {{Person.photo}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let Person"> {{Person.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="relationshipStatus">
      <th mat-header-cell *matHeaderCellDef> Relationship Status </th>
      <td mat-cell *matCellDef="let Person"> {{Person.relationshipStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="nationality">
      <th mat-header-cell *matHeaderCellDef> Nationality </th>
      <td mat-cell *matCellDef="let Person"> {{Person.nationality}} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let Person"> {{Person.phoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="religion">
      <th mat-header-cell *matHeaderCellDef> Religion </th>
      <td mat-cell *matCellDef="let Person"> {{Person.religion}} </td>
    </ng-container>

    <ng-container matColumnDef="personAddress">
      <th mat-header-cell *matHeaderCellDef> Person Address </th>
      <td mat-cell *matCellDef="let Person"> 
          {{ Person.street + " " + Person.barangay + ", " + Person.city + ", " + Person.region + ", " + Person.country + ", " + Person.postalCode}} </td>
    </ng-container>

    <ng-container matColumnDef="coordinates">
        <th mat-header-cell *matHeaderCellDef> Coordinates </th>
        <td mat-cell *matCellDef="let Person"> 
            {{ Person.latitude + " - " + Person.longitude}} </td>
      </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
</div>




<mat-horizontal-stepper [linear]="isLinear" #stepper *ngIf="selectPerson">
  <mat-step>
    <form [formGroup]="personFormGroup">
      <ng-template matStepLabel>Fill out your basic information</ng-template>
      <mat-form-field>
        <input type="text" formControlName="firstName" [(ngModel)]="selectPerson.firstName" 
          placeholder="First Name" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="middleName" [(ngModel)]="selectPerson.middleName" 
          placeholder="Middle Name" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="lastName" [(ngModel)]="selectPerson.lastName" 
          placeholder="Last Name" matInput>
      </mat-form-field>
      <mat-form-field>
        <input matInput disabled [matDatepicker]="birthday" formControlName="birthday" [(ngModel)]="selectPerson.birthday" placeholder="Birthday"
          (mouseleave)="computeAge()" readonly [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
        <mat-datepicker #birthday disabled="false"></mat-datepicker>
      </mat-form-field>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <mat-radio-group class="gender" [(ngModel)]="selectPerson.gender" formControlName="gender">
          <mat-radio-button class="gender" *ngFor="let gender of genders" [value]="gender" placeholder="Gender">
            {{gender}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="ui-g-12 ui-md-3">
          <mat-form-field>
            <mat-select placeholder="Relationship Status" [(value)]="selectPerson.relationshipStatus">
              <mat-option value="Single">Single</mat-option>
              <mat-option value="Married">Married</mat-option>
              <mat-option value="Divorced">Divorced</mat-option>
              <mat-option value="Widowed">Widowed</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
     
      <mat-form-field>
        <input type="text" formControlName="nationality" [(ngModel)]="selectPerson.nationality" 
          placeholder="Nationality" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="text" mask="(00) 000-000-0000" formControlName="phoneNumber" [(ngModel)]="selectPerson.phoneNumber"
          placeholder="Phone: +63 (912) XXX XXXX" matInput required>
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="religion" [(ngModel)]="selectPerson.religion" 
          placeholder="Religion" matInput>
      </mat-form-field>

      <div class="centerButtons">
        <button mat-raised-button matStepperNext>Next</button>
        <button mat-raised-button (click)="cancelPerson()">Cancel</button>
        <button mat-raised-button (click)="savePerson()">Save</button>
        <button mat-raised-button (click)="okDelete()">Delete</button>
      </div>

    </form>
  </mat-step>

  <mat-step>
    <form [formGroup]="personFormGroup">
      <mat-form-field>
        <input type="text" formControlName="street" [(ngModel)]="selectPerson.street" 
          placeholder="Enter Street" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="barangay" [(ngModel)]="selectPerson.barangay" 
          placeholder="Enter Barangay" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="city" [(ngModel)]="selectPerson.city" 
          placeholder="Enter City" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="region" [(ngModel)]="selectPerson.region" 
          placeholder="Enter Region" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="country" [(ngModel)]="selectPerson.country" 
          placeholder="Enter Country" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="number" min="0" max="9999" oninput="validity.valid || (value='');" formControlName="postalCode" 
        [(ngModel)]="selectPerson.postalCode" placeholder="Enter Postal Code" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="number" formControlName="latitude" [(ngModel)]="selectPerson.latitude" 
          placeholder="Enter Latitude" matInput>
      </mat-form-field>
      <mat-form-field>
        <input type="number" formControlName="longitude" [(ngModel)]="selectPerson.longitude" 
          placeholder="Enter Longitude" matInput>
      </mat-form-field>

      <div class="centerButtons">
          <button mat-raised-button matStepperPrevious>Previous</button>
          <button mat-raised-button (click)="cancelPerson()">Cancel</button>
      </div>

    </form>
  </mat-step>
</mat-horizontal-stepper>