<p-dataTable #dt [value]="employeeList" [paginator]="true" [rows]="5"[pageLinks]="5" [responsive]="true" 
[totalRecords]="totalRecords" (onLazyLoad)="paginate($event)" [lazy]="true">
  <p-header>
    <div class="addHeader">
        <button type="button" pButton icon="fa fa-plus" (click)="addEmployee()"></button>
        &nbsp;Add Employee
      </div>
      <div class="searchHeader">
        <input pInputText type="text" [(ngModel)]="searchEmployeeName"
          placeholder="Search Employee First Name"/>
        <button pButton type="button" icon="fa fa-search"
          (click)="searchEmployee()"></button>
      </div>
  </p-header>
  <p-column>
    <ng-template pTemplate type="body" let-Employee="rowData">
        <button type="button" pButton icon="fa fa-pencil" (click)="editEmployee(Employee)"></button>
        <button type="button" pButton icon="fa fa-trash" (click)="deleteEmployee(Employee)"></button>
    </ng-template>

  </p-column>
  <p-column field="employeeID" header="Employee ID"></p-column>
  <p-column field="lastName" header="Last Name"></p-column>
  <p-column field="firstName" header="First Name"></p-column>
  <p-column field="title" header="Title"></p-column>
  <p-column field="titleOfCourtesy" header="Title Of Courtesy"></p-column>
  <p-column field="birthDate" header="BirthDate"></p-column>
  <p-column field="hireDate" header="HireDate"></p-column>
  <p-column field="address" header="Address"></p-column>
  <p-column field="city" header="City"></p-column>
  <p-column field="region" header="Region"></p-column>
  <p-column field="postalCode" header="Postal Code"></p-column>
  <p-column field="country" header="Country"></p-column>
  <p-column field="homePhone" header="Home Phone"></p-column>
  <p-column field="extension" header="Extension"></p-column>
  <p-column field="notes" header="Notes"></p-column>
  <p-column field="reportTo" header="Report To"></p-column>
</p-dataTable>

<form [formGroup]="employeeForm">
  <p-dialog header="Employee" [(visible)]="selectEmployee" *ngIf="selectEmployee">
    <div class="ui-g-12 ui-md-12 ui-fluid">
      <label>Last Name</label>
      <input pInputText id="input-lastName" formControlName="lastName" 
          placeholder="Enter Last Name" [(ngModel)]="selectEmployee.lastName">
      <br />
      <label>First Name</label>
      <input pInputText id="input-firstName" formControlName="firstName" 
          placeholder="Enter First Name" [(ngModel)]="selectEmployee.firstName">
      <br />
      <label>Title</label>
      <input pInputText id="input-title" formControlName="title" 
          placeholder="Title" [(ngModel)]="selectEmployee.title">
      <br />
      <label>Title Of Courtesy</label>
      <input pInputText id="input-titleOfCourtesy" formControlName="titleOfCourtesy" 
          placeholder="Title Of Courtesy" [(ngModel)]="selectEmployee.titleOfCourtesy">
      <br />
      <label for="input-birthDate">Birth Date</label>
      <p-calendar [(ngModel)]="birthDate" formControlName="birthDate"
      placeholder="Enter Birth Date" [(ngModel)]= "selectEmployee.birthDate" readonlyInput="true"></p-calendar>
      <br />
      <label for="input-hireDate">Hire Date</label>
      <p-calendar [(ngModel)]="hireDate" formControlName="hireDate"
      placeholder="Enter Hire Date" [(ngModel)]= "selectEmployee.hireDate" readonlyInput="true"></p-calendar>
      <br />
      <label>Address</label>
      <textarea pInputTextArea id="input-address" [rows]=5 
          placeholder="Enter Address" style="resize:none" formControlName="address"
          [(ngModel)]="selectEmployee.address"></textarea>
      <br />
      <label>City</label>
      <input pInputText id="input-city" formControlName="city" 
          placeholder="Enter City" [(ngModel)]="selectEmployee.city">
      <br />
      <label>Region</label>
      <input pInputText id="input-region" formControlName="region" 
          placeholder="Enter Region" [(ngModel)]="selectEmployee.region">
      <br />
      <label>Postal Code</label>
      <input pInputText id="input-postalCode" formControlName="postalCode" 
          placeholder="Enter Postal Code" [(ngModel)]="selectEmployee.postalCode">
      <br />
      <label>Country</label>
      <input pInputText id="input-country" formControlName="country" 
          placeholder="Enter Country" [(ngModel)]="selectEmployee.country">
      <br />
      <label>Home Phone</label>
      <input pInputText id="input-homePhone" formControlName="homePhone" 
          placeholder="Enter Home Phone" [(ngModel)]="selectEmployee.homePhone">
      <br />
      <label>Extension</label>
      <input pInputText id="input-extension" formControlName="extension" 
          placeholder="Enter Extension" [(ngModel)]="selectEmployee.extension">
      <br />
      <label>Notes</label>
      <input pInputText id="input-notes" formControlName="notes" 
          placeholder="Enter Notes" [(ngModel)]="selectEmployee.notes">
      <br />
      <label>Report To</label>
      <input pInputText id="input-reportTo" formControlName="reportTo" 
          placeholder="Enter Report To" [(ngModel)]="selectEmployee.reportTo">
      <br />

      <button pButton type="button" icon="fa fa-trash" label="Delete" 
        (click)="okDelete()" *ngIf="isDeleteEmployee == true"></button>
      <button pButton type="button" icon="fa fa-file" label="Save" 
        (click)="saveEmployee()" *ngIf="isDeleteEmployee == false"></button> 
      <button pButton type="button" icon="fa fa-ban" label="Cancel" 
        (click)="cancelEmployee()"></button> 
      
    </div>
  </p-dialog>

</form>